{#
/**
 * @file
 * Template for the tabpanel element.
 */
#}
{% set children = element['#children'] is defined ? element['#children'] : '' %}
{% set description = element['#description'] is defined ? "<div class='description'>{element['#description']}</div>" : '' %}
<div id='{{ element['#hash'] }}'>{{ description }}{{ children }}</div>
